﻿
@{
    ViewBag.Title = "htmlhelper";
}

<h2>htmlhelper</h2>

<p>姓名:@Html.TextBox("name")</p>
<p>帳號:@Html.TextBox("zhen")</p>
<p>密碼:@Html.Password("meng")</p>

<p>
    性別:@Html.RadioButton("gender", "A") 男生
    @Html.RadioButton("gender", "B") 女生
</p>

<p>
    興趣:@Html.CheckBox("item", "A") 看書
    @Html.CheckBox("item", "A") 打球
    @Html.CheckBox("item", "A")  爬山
</p>

<p>自我介紹:@Html.TextArea("aboutme")</p>

@*<p>姓名:<input type="text" name="username"></p>
    <p>帳號:<input type="text" name="zhen"></p>
    <p>密碼:<input type="password" name="zhen"></p>

    <p>
        性別:<input type="radio" name="gender" value="A"> 男生
        <input type="radio" name="gender" value="B"> 女生
    </p>

    <p>
        興趣:<input type="checkbox"  name="item"  value="A"> 看書
        <input type="checkbox"  name="item"  value="A"> 打球
        <input type="checkbox"  name="item"  value="A"> 爬山
    </p>

    <p>自我介紹:<textarea name="message"></textarea></p>*@