﻿
@{
    ViewBag.Title = "text";
}

<h2>text</h2>

@{
    var succse = false;
}

@if (succse)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}
<p>列印出1到10</p>
@for (int i = 1; i <= 10; i++)
{
    <p>i@(i)</p>
}
@{string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}
   <ol>
        @foreach (var item in fruits)
        {

            <li>@item</li>
        }
    </ol>
  
