﻿@model _0505.ViewModels.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    @*<p>身高<input type="text" name="height" value="@ViewBag.h" />公分</p>
        <p>體重<input type="text" name="weight" value="@ViewBag.w" />公斤</p>*@
    @Html.DisplayNameFor(a => a.height)
    @Html.TextBoxFor(d => d.height) 公分
    @Html.ValidationMessageFor(m => Model.height)<br />

    @Html.DisplayNameFor(a => a.weight)
    @Html.TextBoxFor(d => d.weight) 公斤
    @Html.ValidationMessageFor(m => Model.weight)<br />
    @*<p>體重 @Html.TextBoxFor(d => d.weight) 公斤 @ViewBag.weightError</p>*@
    <input type="submit" name="name" value="送出" />
</form>
<p>結果:@Model.result</p>
<p>等級:@Model.level</p>